<mat-tab-group>
  <mat-tab label="Leagues">
    <div *ngFor="let league of leagues"> {{league?.name}} </div>
  </mat-tab>
  <mat-tab label="Tournaments">
    <div *ngFor="let tournament of tournaments"> {{tournament?.name}} </div>
  </mat-tab>
  <mat-tab label="Services">
    <div *ngFor="let service of services"> {{service?.name}} </div>
  </mat-tab>
</mat-tab-group>