<div *ngIf="isLoading">
  <p>Loading</p>
</div>
<div class="listFlex">
  <app-game-card fxFlex="300px" *ngFor="let game of games" [game]="game"></app-game-card>
  <div fxFlex="300px" style="height:0;" *ngFor="let i of '0123456789'.split('') "></div>
</div>