<div id="detail">
    <h1>{{champion.name}}</h1>
    <img [src]="championImage">
    <!--<img *ngFor="let image of championImageSkin" class="image" [src]="image">-->
    <button (click)="ClickReturn()">Retour</button>
</div>
