<div class="listFlex">
  <app-lol-champion fxFlex="300px" *ngFor="let champion of champions" [champion]="champion" (click)="ClickChampion(champion)"></app-lol-champion>
</div>
<!--
<div *ngFor="let element of champions" (click)="ClickChampion(element)">
  <h1>{{element.name}}</h1>
  <img class="imageProfil" [src]="element.imageIcon">
</div>
-->


