mat-card.specialcard {
    height:410px;
    margin:5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;

    & mat-card-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        font-weight: 700;
        transform: translateY(-100%);
        transition: transform 0.25s;
        padding: 24px;
    }

    &:hover mat-card-title {
        transform: translateY(0%);
    }
}